.hwarp {
    /* background: #F0F2F5 !important; */
    margin: 0;
    padding: 0;
    color: #7D6666;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header .itembox {
    width: 24%;
    height: 100px;
    background: #ffffff;
    box-shadow: -1px 5px 5px rgba(0, 0, 0, 0.3);
}

.itembox .minibox {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-top: 24px;
}

.itembox .ico {
    /* padding-top: 22px; */
}

.itembox .ico img {
    height: 46px;
    width: 56px;
}

.rigtext {
    height: 25px;
    line-height: 25px;
    text-align: center;
}

.rigtext div:nth-child(1) {
    color: #8F8F8F;
}

.rigtext div:nth-child(2) {}